@{
    ViewBag.Title = "About";
}
    <h2>About Northwest Labs</h2>
        <br />
        <br />
    <img src="~/Content/Images/nwLabsLogo.png" height:"300px" />
        <br />
        <br />
    <h3>Northwest Labs Pharmaceutical provides chemical and compound tests for companies needing in-depth assay analysis of their products</h3>
        <p>
            Headquarted in Seattle with their testing facilities located in Singapore, Northwest Labs does both purely laboratory type tests
            and biological tests on live animals for comapnies needing an in-depth analysis of any number of different compounds and drugs
            in order to determine their characteristics.
        </p>
        <br />
        <br />
    <img src="~/Content/Images/cute-puppy4.jpg" height:"300px" />
        <br />
        <br />
    <p>
        Northwest Labs does run live animal testing as a necessity of the business of providing safe drugs for people around the world,
        but that does not mean we do so in an inhumane way. We follow all rules and guidlines provided in the <a href="https://www.nal.usda.gov/awic/animal-welfare-act">Animal Welfare Act</a> and
        even go above and beyond the regulations there, protecting additional animals and treating all with care.
    </p>

    <p> Northwest Labs also makes generous donations every year to the <a href="https://secure.humanesociety.org/site/SPageServer?pagename=splash&s_src=ad_gg_search_110817&gclid=Cj0KCQiAgZTRBRDmARIsAJvVWAvYtItVh5_igcG-D-cLzA3O-9QT03AfhoV_kolPOGXbto_wrKPx81oaAmK6EALw_wcB">Humane Society</a>.</p>